/* Google fonts import from: https://fonts.google.com/*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Madimi+One&display=swap');

/* Selector to override default browser styling. Code from https://codeinstitute.net's loverunning walkthrough project.  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General project styles */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Lato", sans-serif;
    background-color: #31473A;
    color: #EDF4F2;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Generic styles for different headings */
h1,
h2,
h3,
h4 {
    font-family: "Madimi One", sans-serif;
    letter-spacing: 1px;
}

/* Header styling */
.page-header {
    background-color: #0b1e00;
    z-index: 10;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 3px #000000;
}

.page-header h1 {
    font-size: 180%;
    text-align: center;
}

.page-header li {
    letter-spacing: 0.5px;
}

/* Navigation bar styling */
.header-nav-bar {
    list-style-type: none;
    line-height: 25px;
    font-size: 110%;
    padding: 0 25%;
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;

}

.header-nav {
    display: none;
}

.nav-toggle {
    display: none;
}

.nav-toggle-icon-down {
    font-size: 145%;
    margin-top: -4px;
    width: 24px;
    height: 24px;
    align-self: center;
}

.nav-toggle-icon-up {
    align-self: center;
    font-size: 145%;
    margin-top: -4px;
    display: none;
    width: 24px;
    height: 24px;
}

/* Selector to change the color for the current page the user is on */
.active {
    color: #6b9f66;
}

/* Toggles the navigation bar to allow for less clutter */
.nav-toggle:checked~nav {
    display: flex;
    justify-content: center;
}

/* Switches between a chevron-up / chevron-down depending on navbar toggle state */
.nav-toggle:checked~.nav-toggle-icon-down {
    display: none;
}

.nav-toggle:checked~.nav-toggle-icon-up {
    display: block;
}

/* Main styling */
main {
    margin-top: 58px;
    display: flex;
    flex-direction: column;
    flex: 1 0;
}

/* Hero section styling */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: url("../images/cow-hero-image.jpg") no-repeat center center/cover;
    width: 100%;
    height: 540px;
    box-shadow: 0px 0px 4px #000000;
}

.hero-text-container {
    line-height: 30px;
    margin-bottom: 50px;
}

.hero-text-container div {
    padding: 0px 3px;
    margin-top: 5px;
    background-color: #433008cf;
    border-radius: 0px 9px 9px 0px;
}

.hero-text-1 {
    width: 260px;
}

.hero-text-2 {
    width: 220px;
}

.hero-text-3 {
    width: 180px;
}

.hero-text-4 {
    width: 140px;
}

.hero-location-text {
    width: 100px;
}

/* Why goood section */
.why-good {
    display: flex;
    flex-direction: column;
}

.reasons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styling the text and content divs */
.reasons-content {
    display: flex;
    margin: 7px 0px;
    width: 100%;
    height: 180px;
    align-items: center;
    border-top: 1px solid #0b1e00;
}

/* Targeting all text elements in the why good section */
.why-good-h2 {
    margin-top: 4px;
    text-align: center;
    font-size: 160%;
}


.why-good-h3 {
    margin-right: 1rem;
    margin-left: 0.5rem;
    font-size: 120%;
    min-width: 86px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.why-good p {
    padding-right: 4px;
}

/* Footer styling */
footer {
    background-color: #0b1e00;
    box-shadow: 0 -1px 3px #000000;
}

/* Social media links styling for footer */
.social-media {
    padding: 4px;
    width: 100%;
    display: flex;
    list-style-type: none;
    font-size: 200%;
    justify-content: space-evenly;
}

.footer-p {
    font-family: sans-serif;
    font-size: 55%;
    text-align: center;
    letter-spacing: 1px;
}

/* Gallery page styling */
.gallery-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.gallery-image-container {
    flex-basis: 100%;
    height: 50%;
}

.gallery-image {
    width: 100%;
    height: 100%;
    border: 1px solid #0b1e00;
}

.gallery-heading {
    text-align: center;
    font-size: 180%;

}

#gallery h3 {
    text-align: center;
}

/* Booking page styling */
.booking-form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    font-size: 110%;
    align-content: center;
}

#booking-bg-image {
    background: url("../images/booking-background.jpg") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#booking-bg-color {
    background-color: #31473a7a;
    flex-grow: 1;
}

.booking-h2 {
    text-align: center;
    line-height: 4rem;
    font-size: 180%;
}

.booking-h3 {
    text-align: center;
    line-height: 2rem;
}

.underline {
    text-decoration: underline;
}

/* General styling for contact form */


.input-container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    width: 15rem;
    border: 1px solid #0b1e00;
    border-bottom: none;
    background-color: #00000033;
    padding: 2px;
}

.text-field {
    margin: 3px 0px 10px 0px;
    height: 1.5rem;
    background-color: #00000033;
    color: #ffffff;
    width: 100%;
}

.contact-choice {
    border: 1px solid #0b1e00;
    background-color: #00000033;
    line-height: 35px;
    width: 15rem;
    padding: 2px;
}

.radio-choice {
    min-height: 15px;
    min-width: 15px;
}

/* Form submit button styling */
.button-submit {
    margin-top: 1rem;
    height: 2.5rem;
    width: 6rem;
    color: #0b1e00;
    background-color: #6b9f66;
    border: 1px solid #0b1e00;
    box-shadow: 0px 1px 1px;
}

/* Highlight hovering of the submit button */
.button-submit:hover {
    background-color: #174213;
}

/* Confirmation page */
.congratulations {
    font-size: 215%;
    text-align: center;
    margin-top: 30vh;
    padding: 8px;
}

.info-received {
    font-size: 140%;
    text-align: center;
    padding: 8px;
}

/* Media query: devices of 768px and higher */
@media screen and (min-width: 768px) {

    /* Header 768px> */
    .page-header {
        flex-direction: row;
    }

    /* Hide the nav-bar toggling as there is enough space to fit everything in header */ 
    .nav-toggle:checked~.nav-toggle-icon-up, 
    .nav-toggle-icon-down {
        display: none;
    }

    .page-header h1 {
        font-size: 300%;
        text-align: left;
        padding-left: 10px;
        letter-spacing: 2px;
    }

    /* Navigation bar 768px> */
    .header-nav {
        padding: 0 10px;
        display: flex;
        flex-grow: 1;
        justify-content: space-evenly;
    }

    .header-nav-bar {
        display: flex;
        width: 100%;
        font-size: 140%;
        flex-direction: row;
        padding: 0;
        justify-content: space-evenly;
    }

    /* Main 768px> */
    main {
        margin-top: 63px;
    }

    /* Hero section 768px> */
    .hero-text-container {
        margin-bottom: 80px;
        font-size: 146%;
    }

    .hero-text-container div {
        padding: 9px 6px;
    }

    /* Width of each individual div containing text */
    .hero-text-1 {
        width: 360px;
    }

    .hero-text-2 {
        width: 320px;
    }

    .hero-text-3 {
        width: 280px;
    }

    .hero-text-4 {
        width: 240px;
    }

    .hero-location-text {
        width: 200px;
    }

    /* Why good section for 768px> */
    /* Stacks the 2 containers next to each other for bigger than mobile devices */
    .why-good {
        flex-direction: row;
    }

    .why-good-h2 {
        font-size: 200%;
    }

    .why-good-h3 {
        font-size: 135%;
        margin-right: 2rem;
    }

    /* Gallery using 2 columns on 768px> */
    .gallery-image-container {
        flex-basis: 50%;
    }

    /* Booking page 768px> */
    .booking-h2 {
        font-size: 245%;
    }
    
    .booking-h3 {
        font-size: 185%;
    }
    /* Confirmation page 768px> */
    .congratulations {
        font-size: 355%;
    }
}


/* Media query: devices of 1024px and higher */
@media screen and (min-width:1024px) {

    /* Why good section 1024px> */
    .why-good p {
        font-size: 125%;
    }

    /* Highlight effect on hovering nav-bar items for laptops and larger */
    .header-nav li:hover {
        color: #6b9f66;
    }
    /* Gallery 1024px */
    .gallery-heading {
        font-size: 250%;
        letter-spacing: 2px;
    }
}

@media screen and (min-width:1200px) {

    /* Header 1200px> */
    .page-header h1 {
        font-size: 350%;
    }
    /* Main 1200px> */
    main {
        margin-top: 74px;
    }

    /* Why good section 1200px */
    .why-good p {
        font-size: 140%;
        padding-right: 3rem;
    }

    .why-good-h3 {
        margin-left: 3rem;
    }

    /* Gallery using 3 columns for 1200px> */
    .gallery-image-container {
        flex-basis: 33.33%;
    }

    /* Booking page 1200px> */
    .booking-h2 {

        font-size: 290%;
    }

    .booking-h3 {
        font-size: 200%;
        line-height: 3rem;
    }
    /* Confirmation page 1200px> */
    .congratulations {
        font-size: 470%;
    }

    .info-received {
        font-size: 210%;
    }
}