/* Google fonts import from: https://fonts.google.com/*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Madimi+One&display=swap');

/* "*" Selector to override default browser styling. Idea and code from: https://codeinstitute.net's loverunning walkthrough project */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General project styles */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Lato", sans-serif;
    background-color: #31473A;
    color: #EDF4F2;
}

h1 {
    font-family: "Madimi One", sans-serif;
    letter-spacing: 1px;
}
/* Header */
header {
    width: 100%;
    display: flex;
    flex-direction: column;
}

header h1 {
    font-size: 165%;
    margin-left: 1rem;
}

header a {
    text-decoration: none;
    color: inherit;
}

#nav-bar {
    list-style-type: none;
    margin-left: 1rem;
}

/* Main */
main {
    display: flex;
    flex: 1 0;
}

/* Footer */
footer {
    background-color: tomato;
    display: flex;
}
