/* Google fonts import from: https://fonts.google.com/*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Madimi+One&display=swap');

/* "*" Selector to override default browser styling. Idea and code from: https://codeinstitute.net's loverunning walkthrough project */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General project styles */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Lato", sans-serif;
    background-color: #31473A;
    color: #EDF4F2;
}

h1, h2, h3 {
    font-family: "Madimi One", sans-serif;
    letter-spacing: 1px;
}

/* Header */
header {
    background-color: #0b1e00;
    z-index: 10;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 14px #000000;
}

header h1 {
    font-size: 180%;
    text-align: center;
}

header a {
    text-decoration: none;
    color: inherit;
}

header li {
    letter-spacing: 0.5px;
}

/* Navigation bar */
#nav-bar {
    list-style-type: none;
    line-height: 25px;
    font-size: 110%;
    padding: 0 25%;
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;

}

header nav {
    display: none;
}

#nav-toggle {
    display: none;
}

#nav-toggle-icon-down {
    font-size: 145%;
    margin-top: -4px;
    width: 24px;
    height: 24px;
    align-self: center;
}

#nav-toggle-icon-up {
    align-self: center;
    font-size: 145%;
    margin-top: -4px;
    display: none;
    width: 24px;
    height: 24px;
}

.active {
    color: #6b9f66;
}

/* Toggles the navigation bar to allow for less clutter */
#nav-toggle:checked~nav {
    display: block;
}

/* Switches between a chevron-up / chevron-down depending on toggle state */
#nav-toggle:checked~#nav-toggle-icon-down {
    display: none;
}

#nav-toggle:checked~#nav-toggle-icon-up {
    display: block;
}

/* Main */
main {
    margin-top: 58px;
    display: flex;
    flex: 1 0;
}
/* Hero section element */
#hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* background image from: https://pexels.com */
    background: url("../images/cow-hero-image.jpg") no-repeat center center/cover;
    width: 100%;
    height: 540px;
}

#hero-text {
    line-height: 30px;
    margin-bottom: 50px;
}

#hero-text div {
    padding: 0px 3px;
    margin-top: 5px;
    background-color: #433008cf;
    border-radius: 0px 9px 9px 0px;

}

#hero-text-1 {
    width: 260px;
}

#hero-text-2 {
    width: 220px;
}

#hero-text-3 {
    width: 180px;
}

#hero-text-4 {
    width: 140px;
}

/* Footer */
footer {
    background-color: #0b1e00;
    display: flex;
    box-shadow: 0 -1px 1px #042d15;
}

#social-media {
    padding: 4px;
    width: 100%;
    display: flex;
    list-style-type: none;
    font-size: 200%;
    flex-direction: row;
    justify-content: space-evenly;
}

footer a {
    text-decoration: none;
    color: inherit;
}